.game {
  margin: 1em auto;
  padding: 1em 50px;
}

table.sudoku {
  border-collapse: collapse;
  margin: 1em auto 1em 0;
  --thick-border: 3px solid;
  --thin-border: 1px solid;
}

table.sudoku td {
  --sudoku-field-size: 40px;
  padding: 0;
  border: var(--thin-border);
  width: var(--sudoku-field-size);
  height: var(--sudoku-field-size);
  text-align: center;
  font-size: larger;
}

table.sudoku td input {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  text-align: inherit;
  font: inherit;
  font-size: inherit;
}

table.sudoku td:first-child {
  border-left: var(--thick-border);
}

table.sudoku td:nth-child(3n) {
  border-right: var(--thick-border);
}

table.sudoku tr:first-child {
  border-top: var(--thick-border);
}

table.sudoku tr:nth-child(3n) {
  border-bottom: var(--thick-border);
}
